.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;


  .preHeader {
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 5px;
    align-items: flex-end;
    margin-top: 10px;
  }

  .mat-table {
    width: 100%;


  }

}






