<div class="container">
  <div class="preHeader">
    <mat-form-field style="margin-right: 10px;">
      <mat-label>
        Search
      </mat-label>
      <input matInput (keydown)="search($event)">
    </mat-form-field>
    <button mat-mini-fab color="primary" aria-label="additem" (click)="openDialogAddItem()">
      <mat-icon>library_add</mat-icon>
    </button>
  </div>

  <div fxLayout="column" fxHide fxShow.gt-sm class="table-container">
  <mat-table mat-table [dataSource]="itemSource"
             class="mat-elevation-z0">
    <ng-container matColumnDef="itemname">
      <mat-header-cell *matHeaderCellDef>{{listname}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.itemname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateCreated">
      <mat-header-cell *matHeaderCellDef> Date Created</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dateCreated}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateModified">
      <mat-header-cell *matHeaderCellDef> Date Modified</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dateModified}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-form-field style="width: 170px" floatLabel="never">
          <input  matInput (ngModelChange)="setReminder($event,element)" [ngxMatDatetimePicker]="picker" placeholder="Set reminder"  [(ngModel)]="element.reminder">
          <mat-datepicker-toggle  matSuffix [for]="$any(picker)" style="color: #287dff; margin-right: 10px"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker>
          </ngx-mat-datetime-picker>
        </mat-form-field>


        <button  mat-icon-button aria-label="clear" color="accent"
                 (click)="openDialogDeleteReminder(element.itemsid)">
          <mat-icon>clear</mat-icon> </button>

        <button class="editbtn" mat-icon-button aria-label="edit" color="accent"
                (click)="openDialogItem(element.itemsid,element.itemname)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="delete" color="warn"
                (click)="openDialogDeleteItem(element.itemsid,element.itemname)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsItems sticky:true"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumnsItems;" matRipple class="list-row"></mat-row>
  </mat-table>

  </div>

  <div class="card-container" fxLayout="column" fxHide fxShow.lt-md >
    <h4 style="padding-left: 15px;">{{listname}}</h4>
    <div *ngFor="let item of cardSource" >
      <mat-card>
        <div>Id: {{item.itemsid}}</div>
        <div>Name: {{item.itemname}}</div>
        <div>Date Created: {{item.dateCreated}}</div>
        <div>Date Modified: {{item.dateModified}}</div>
        <div>
          <button class="editbtn" mat-icon-button aria-label="edit" color="accent"
                  (click)="openDialogItem(item.itemsid,item.itemname)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="delete" color="warn"
                  (click)="openDialogDeleteItem(item.itemsid,item.itemname)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>








</div>

